<%= form_with(model: @user, url: signup_path) do |form| %>
    <%= form.label :username %>
    <%= form.text_field :username %>
  
    <%= form.label :email %>
    <%= form.email_field :email %>
  
    <%= form.label :password %>
    <%= form.password_field :password %>
  
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  
    <%= form.submit "Sign Up" %>

<% end %>

<%= form_tag logout_path, method: :delete do %>
    <%= submit_tag 'Logout' %>
<% end %>
  


<!-- Your HTML code here -->
<% if logged_in? %>
  <h1>Logged in as <%= current_user.username %></h1>
<% else %>
  <h1>Not logged in</h1>
<% end %>
